body {
    background:rgba(211, 211, 211, 0.44) url("checklist.jpg") top right;
    background-size: 67%;
    background-repeat: no-repeat;

   }


#listOfTasks {
    margin: 10px;
}
#listOfTasks ul {
    list-style: none;
}